<div class="container">
<h3 class="text-center mr-5"><a routerLink="/comics" class="text-decoration-none title-section">Cómics</a></h3>

<article class="article-comic" *ngFor="let elem of resultado?.data.results; index as i;">
        <div class="caja">
            <a [routerLink]="['/comic/', elem.id]">
                <img src="{{elem.thumbnail.path}}.{{elem.thumbnail.extension}}" alt="{{elem.title}}"
                class="img-fluid img-comic">
            </a>
        </div>
    <p [routerLink]="['/comic/', elem.id]" class="title-comic text-center btn text-white">{{elem.title}}</p>
</article><br />
</div>