<h3 class="text-center mr-5"><a routerLink="/comics" class="text-decoration-none title-section title-home">Cómics</a>
</h3>

<article [routerLink]="['/comic/', elem.id]" class="article-comic mb-3"
    *ngFor="let elem of resultado?.data.results; index as i;">
    <figure>
        <a [routerLink]="['/comic/', elem.id]">
            <img src="{{elem.thumbnail.path}}.{{elem.thumbnail.extension}}" alt="{{elem.title}}" class="img-fluid">
        </a>
        <a [routerLink]="['/comic/', elem.id]" class="text-center btn text-white title-comic">
            <p>{{elem.title}}</p>
        </a>
    </figure>
</article><br />