<footer class="bg-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-12">
                <p class="text-white text-center text-footer">Data provided by Marvel. © 2020 MARVEL</p>
            </div>
            <div class="col-md-6 col-12">
                <span class="col-md-3 offset-md-3">
                    <a href="https://www.facebook.com/Marvel/" target="_blank">
                        <img src="https://image.flaticon.com/icons/png/128/2111/2111566.png" alt="Icono Facebook"
                            class="img-fluid tama-redes mx-auto">
                    </a>
                </span>
                <span class="col-md-3">
                    <a href="https://twitter.com/marvel" target="_blank">
                        <img src="https://image.flaticon.com/icons/png/128/10/10033.png" alt=""
                            class="img-fluid tama-redes mx-auto">
                    </a>
                </span>
            </div>
        </div>
    </div>
</footer>