<footer class="bg-dark ">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-xs-12 col-md-6 mx-auto ">
                <p class="">{{resultadoComics?.attributionText}}</p>
            </div>
            <div class="col-xs-12 col-md-6 text-center">

                <span class="col-md-3 offset-md-3 ">
                    <a href="https://www.facebook.com/Marvel/" target="_blank">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </span>

                <span class="col-md-3">
                    <a href="https://twitter.com/marvel" target="_blank">
                        <i class="fab fa-twitter-square"></i>
                    </a>
                </span>
            </div>
        </div>
    </div>
</footer>