<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand text-white" routerLink="/home">
            <img src="https://cdn6.aptoide.com/imgs/0/1/5/015c85387bf3f8789c5c15f5a2dc3b1b_icon.png" alt=""
                class="tama-redes"> Marvel
            App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ml-auto">
                    <a class="nav-link text-white" routerLink="/home" routerLinkActive="activeLink">Home</a>
                </li>
                <li class="nav-item ml-auto ">
                    <a class="nav-link text-white" routerLink="/comics" routerLinkActive="activeLink">Cómics</a>
                </li>
                <li class="nav-item ml-auto ">
                    <a class="nav-link text-white" routerLink="/personajes" routerLinkActive="activeLink">Personajes</a>
                </li>
                <li class="nav-item ml-auto ">
                    <a class="nav-link text-white" routerLink="/busqueda" routerLinkActive="activeLink">Búsqueda</a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link text-white" routerLink="/contacto" routerLinkActive="activeLink">Contacto</a>
                </li>
            </ul>
            <!--<form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>-->
        </div>
    </nav>
</header>