<div *ngFor="let elem of resultado?.data.results; index as i;" class="mt-2 container">
    <article class="article-comic-vista">
        <div class="fila0">
            <a>
                <img src="{{elem.thumbnail.path}}.{{elem.thumbnail.extension}}" alt="{{elem.title}}"
                    class="img-fluid img-comic-vista">
            </a>
        </div>
        <div class="fila1">
            <a class=" title-section title-vista text-center btn text-white">{{elem.title | uppercase}} <i
                    *ngIf="!checked" (click)="addRemoveFav(elem)" style="color: red;font-size:1.2em"
                    class="far fa-heart mx-auto d-block"></i>
                <i *ngIf="checked" (click)="addRemoveFav(elem)" style="color: red;font-size:1.2em"
                    class="fas fa-heart mx-auto d-block"></i></a>

            <p class=" font-weight-bold text-center text-white text-description">{{elem.description}}</p>
            <p class=" font-weight-bold text-center  text-white text-description">{{elem.variantDescription}}</p>
            <div class="fila2">
                <p class=" font-weight-bold text-white ml-3">Creadores: {{elem.creators.available}}</p>
                <p class=" font-weight-bold text-white ml-3">Personajes: {{elem.characters.available}}</p>
                <p class=" font-weight-bold text-white ml-3">Historias: {{elem.stories.available}}</p>
                <p class=" font-weight-bold text-white ml-3">Eventos: {{elem.events.available}}</p>
            </div>
        </div>
    </article><br />

    <div class="container-fluid">
        <div *ngIf="!resultadoPersonajes">
            <p class="text-center h3 ml-4">Cargando ...</p>
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-danger" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="!resultadoPersonajes?.data.results.length == 0;"><br>
            <p class=" title-section title-vista text-center text-white">Personajes en el cómic</p>
            <article class="col-md-3 col-6 mb-3" *ngFor="let elem of resultadoPersonajes.data.results; index as i;">
                <div [routerLink]="['/personaje/', elem.id]" class="margin  blur pointer article-comic">
                    <figure>
                        <a [routerLink]="['/personaje/', elem.id]">
                            <img src="{{elem.thumbnail.path}}.{{elem.thumbnail.extension}}" alt="{{elem.name}}"
                                class="img-fluid">
                        </a>
                        <a [routerLink]="['/personaje/', elem.id]" class=" title-comic white-space btn text-white">
                            <p>{{elem.name}} </p>
                        </a>
                    </figure>
                </div>
            </article>
        </div>
    </div><br>

</div>