<section>
    <div class="container-fluid">
        <div class="row banner-md2">
            <div class="col-12">
                <h1 class="text-white text-center title-banner title-section animate__animated animate__pulse">
                    Búsqueda <i class="fas fa-search"></i>
                </h1>
            </div>
        </div>
    </div>
</section><br>
<section class="container">
    <div class="row">
        <div class="col-md-6 offset-md-4">
            <form #searchComic="ngForm" class="form-inline form-inline1 my-2 my-lg-4 mx-auto">
                <input class="form-control form-control-lg mr-sm-2" type="search" name="queryComics"
                    placeholder="Buscar cómic" required [(ngModel)]="queryComics" autofocus>
                <button (click)="busquedaComic()" class="btn btn-info my-2 my-sm-0">Buscar</button>
            </form>
            <form #searchPersonaje="ngForm" class="form-inline form-inline1 my-2 my-lg-0 mx-auto">
                <input class="form-control form-control-lg mr-sm-2" type="search" name="queryPersonajes"
                    placeholder="Buscar personaje" required [(ngModel)]="queryPersonajes" autofocus>
                <button (click)="busquedaPersonaje()" class="btn btn-info my-2 my-sm-0">Buscar</button>
            </form>
        </div>
    </div>
</section><br>
<div *ngIf="!resultado && !resultadoPers" class="img-comic-vista"></div>

<h4 *ngIf="resultado || resultadoPers" class="text-center mt-3 mb-3 text-muted text-white">Resultados: </h4>

<div *ngIf="resultado?.data.results.length == 0;">
    <p class="text-center title-comic" style="height: 100px;">Lo sentimos, no hay resultados
        para el cómic, intenta buscar de nuevo
    </p>
</div>
<div *ngIf="resultadoPers?.data.results.length == 0;">
    <p class="text-center title-comic" style="height: 150px;">Lo sentimos, no hay
        resultados para el personaje, intenta buscar de nuevo
    </p>
</div>

<section class="container-fluid d-block pb-3 mb-5">
    <div class="row  d-flex justify-content-center">
        <div class="col-md-8" *ngIf="resultado">
            <h2 class="title-section text-white text-center pt-2 pb-3">Comics</h2>
            <ul class="list-group">
                <li *ngFor="let elem of resultado.data.results; index as i;" class="list-group-item "
                    [style.background-color]="(i % 2 === 0) ? '#B1D0E3': '#EEC0BF'">

                    <a [routerLink]="['/comic/', elem.id]">
                        <div class="comic-busqueda">
                            <div class="col1">
                                <img src="{{elem.thumbnail.path}}.{{elem.thumbnail.extension}}" class="img-fluid" />
                            </div>
                            <div class="col2">

                                <h4 class="col-md-12 text-center">{{elem.title}}</h4>
                                <p class="col-md-12 text-center">{{elem.variantDescription}}</p>

                            </div>

                        </div>
                    </a>
                    <p class="ml-4 col-md-7 text-dark font-large">{{elem.description}}</p>
                </li>
            </ul>
        </div>
        <div class="col-md-4 mb-2" *ngIf="resultadoPers">
            <h2 class="title-section text-white text-center pt-2 pb-3">Personajes</h2>
            <article [routerLink]="['/personaje/', elem.id]" class="pointer"
                *ngFor="let elem of resultadoPers.data.results; index as i;">
                <div class="article-comic">
                    <figure>
                        <a [routerLink]="['/personaje/', elem.id]">
                            <img src="{{elem.thumbnail.path}}.{{elem.thumbnail.extension}}" alt="{{elem.name}}"
                                class="img-fluid">
                        </a>
                        <a [routerLink]="['/personaje/', elem.id]" class="title-comic text-center btn text-white">
                            <p>{{elem.name}}</p>
                        </a>
                    </figure>
                </div>
            </article>
        </div>
    </div>
</section>