<section>
    <div class="container-fluid">
        <div class="row banner-md" id="page">
            <div class="col-12">
                <h1 class="text-white text-center title-banner-md title-section animate__animated animate__pulse">
                    Personajes <i class="fas fa-user-shield"></i></h1>
            </div>
            <div class="offset-md-5">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle text-white" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ordenar personajes</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item btn" (click)="nombre()">Por nombre</a>
                        <a class="dropdown-item btn" (click)="nombreDes()">Por nombre (descendente)</a>
                        <a class="dropdown-item btn" (click)="modificacion()">Por fecha de modificación</a>
                        <a class="dropdown-item btn" (click)="modificacionDes()">Por fecha de modificación
                            (descendente)</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section><br>
<div *ngIf="!resultado">
    <p class="text-center h5 ml-4">Cargando ...</p>
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-danger" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<section>
    <div class="container-fluid">
        <div class="row">
            <article class="col-md-3"
                *ngFor="let elem of resultado?.data.results | paginate: {itemsPerPage: 12, currentPage: p}">
                <div [routerLink]="['/personaje/', elem.id]" class="margin article-comic blur shadow-lg pointer">
                    <a [routerLink]="['/personaje/', elem.id]">
                        <img src="{{elem.thumbnail.path}}.{{elem.thumbnail.extension}}" alt="{{elem.name}}"
                            class="img-fluid img-md img-comic">
                    </a>
                    <a [routerLink]="['/personaje/', elem.id]"
                        class="title-comic text-center float-right white-space btn text-med text-white">{{elem.name}}
                    </a>
                </div>
            </article>
            <a href="/personajes#page" class="offset-md-4 mt-3">
                <pagination-controls (pageChange)="p = $event" class="offset-md-4 mt-3" previousLabel="Anterior"
                    nextLabel="Siguiente" screenReaderPaginationLabel="Pagination">
                </pagination-controls>
            </a>
        </div>
    </div><br>
</section>