<section>
    <div class="container-fluid">
        <div class="row banner-md d-flex justify-content-center" id="page">
            <div class="col-12">
                <h1 class="text-white text-center title-banner-md title-section animate__animated animate__pulse">
                    Personajes <i class="fas fa-user-shield"></i></h1>
            </div>
            <div class="">
                <div class="input-group-prepend">
                    <button class="btn btn-danger dropdown-toggle text-white" type="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ordenar personajes</button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item btn" (click)="nombre()">Por nombre</a>
                        <a class="dropdown-item btn" (click)="nombreDes()">Por nombre (descendente)</a>
                        <a class="dropdown-item btn" (click)="modificacion()">Por fecha de modificación (más
                            reciente)</a>
                        <a class="dropdown-item btn" (click)="modificacionDes()">Por fecha de modificación
                            (menos reciente)</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section><br>
<div *ngIf="!resultado">
    <p class="text-center h5 ml-4 text-white">Cargando ...</p>
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-danger " role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
<section>
    <div class="container-fluid">
        <div class="row">
            <article class="col-md-3 col-6 mb-3 all"
                *ngFor="let elem of resultado?.data.results | paginate: {itemsPerPage: 12, currentPage: p}">
                <div [routerLink]="['/personaje/', elem.id]" class="margin article-comic blur shadow-lg pointer ">
                    <figure>
                    <a [routerLink]="['/personaje/', elem.id]">
                        <img src="{{elem.thumbnail.path}}.{{elem.thumbnail.extension}}" alt="{{elem.name}}"
                            class="img-fluid img-md">
                    </a>
                  
                    <a [routerLink]="['/personaje/', elem.id]"
                        class="title-comic  mx-auto  btn text-white ">
                        <p>{{elem.name}}</p>
                    </a>
                </figure>
                </div>
            </article>
            <a href="/personajes#page" class="offset-md-4 mt-3 m-auto py-3">
                <pagination-controls (pageChange)="p = $event" class="offset-md-4 mt-3" previousLabel="Anterior"
                    nextLabel="Siguiente" screenReaderPaginationLabel="Pagination">
                </pagination-controls>
            </a>
        </div>
    </div><br>
</section>