<div *ngFor="let elem of resultado?.data.results; index as i;" class="mt-2">
    <article class="article-comic-vista">
        <a>
            <img src="{{elem.thumbnail.path}}.{{elem.thumbnail.extension}}" alt="{{elem.name}}"
                class="img-fluid img-comic-vista mx-auto d-block mt-2">
        </a>
        <a class="title-comic title-section title-vista text-center btn text-white">{{elem.name | uppercase}}</a>
        <p class="title-comic font-weight-bold text-center text-description">{{elem.description}}</p>
        <p class="title-comic font-weight-bold text-white ml-3">Cómics: {{elem.comics.available}}</p>
        <p class="title-comic font-weight-bold text-white ml-3">Series: {{elem.series.available}}</p>
        <p class="title-comic font-weight-bold text-white ml-3">Historias: {{elem.stories.available}}</p>
    </article><br />

    <div class="container-fluid">
        <div *ngIf="!resultadoComics">
            <p class="text-center h3 ml-4">Cargando ...</p>
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-danger" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="resultadoComics"><br>
            <p class="title-comic title-section title-vista text-center">Cómics</p>
            <article [routerLink]="['/comic/', elem.id]" class="col-md-4 col-6 mb-3 pointer"
                *ngFor="let elem of resultadoComics.data.results;">
                <div class="margin article-comic">
                    <a [routerLink]="['/comic/', elem.id]">
                        <img src="{{elem.thumbnail.path}}.{{elem.thumbnail.extension}}" alt="{{elem.title}}"
                            class="img-fluid mx-auto d-block">
                    </a>
                    <a [routerLink]="['/comic/', elem.id]"
                        class="title-comic mx-auto d-block btn text-white">{{elem.title}}</a>
                </div>
            </article>
        </div>
    </div><br>

</div>