/* Home Page */
/*body {
    background: #ef3b36; /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to left, #B1D0E3, #EEC0BF);*/ /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to left, #B1D0E3, #EEC0BF);
}*/
a.navbar-brand:hover {
    color: #ec1d24!important;
    font-weight: 700;
    transition: all 0.1s linear;
}

a.navbar-brand > img:hover {
    transform: scale(1.07);
    transition: all 0.5s ease-out;
}

a.nav-link:hover, .activeLink {
    color: #ff0000!important;
}

.title-section {
    font-family: 'Permanent Marker', cursive!important;
}

.banner, .banner-md {
    width: auto;
    background: #ED213A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93291E, #ec1d24);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93291E, #ec1d24); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.banner {
    height: 250px;
}

.banner-md {
    height: 200px;
}

.space {
    height: 68px;
}

.title-banner, .title-banner-md {
    font-family: Roboto, "Trebuchet MS", Helvetica, Arial, sans-serif;
}

.title-banner {
    margin-top: 100px;
}

.title-banner-md {
    margin-top: 75px;
}

.article-comic, .article-comic-vista {
    background-color: #548bca;    
    border: 6px solid #ff0000;
}

.article-comic:hover {
    transform: scale(1.02);
    transition: all 0.3s ease-in;
}

.img-comic {
    height: 220px;
    width: 190px;
}

.title-comic {
    font-size: 1.2em;
}

.bg-footer {
    background-color: #8a1212;
}

.text-footer {
    margin-top: 13px;
}

.tama-redes {
    height: 40px;
    width: 40px;
    margin-top: 7px;
}

img.tama-redes:hover {
    background-color: #7b1210;
}

@media screen and (max-width: 768px) {
    img.tama-redes {
        display: block;
        margin: 0px;
        padding: 0px;
    }

    .text-footer {
        margin: 0px;
    }
}

/* Comic Page */
.margin {
    margin: 10px;
}

/* Personajes Page */
.blur:hover {
    background: rgba(183, 207, 238, 0.5);
    transition: all 0.8s ease-out;
}

.blur:hover > a>img{
    filter: blur(5px);
}

.blur > a.title-comic {
    visibility: hidden;
}

.blur:hover > a.title-comic {
    transform: translateX(-30px) translateY(-100px);
    color: #000!important;
    font-weight: 800;
    font-size: 1.5em;
    text-shadow: 4px 4px 5px #ffff;
    visibility: visible;
}

.white-space {
    white-space: pre-wrap;
}

@media (max-width: 768px) { 
    .blur > a.title-comic {
        visibility: visible;
        color: #000!important;
    }

    .blur:hover {
        background: #5187c4;;
        transition: none;
    }
    
    .blur:hover > a>img{
        filter: blur(0px);
    }
    
    .blur:hover > a.title-comic {
        transform: none;
        color: currentColor;
        font-weight: 800;
        font-size: 1.5em;
        text-shadow: 4px 4px 5px #ffff;
        visibility: visible;
    }
}

/* Busqueda Page */
.img-query:hover {
    transform: scale(1.3);
    transition: all 0.5s ease-in;
}

/* Contacto Page */
textarea#comment.form-control, textarea#content.form-control{
    min-height: 50px;
}

.cursor-no-drop {
    cursor: no-drop;
}

/* Vista-Comic/Personaje page */
.title-vista {
    font-size: 2.5em;
    margin: auto;
    width: 100%;
}

.img-comic-vista {
    height: 290px;
    width: 260px;
}

/* Page not found */
.img-not-found {
    height: 550px;
}