<h3 class="text-center mr-5"><a routerLink="/personajes" class="text-decoration-none title-section">Personajes</a></h3>

<article class=" article-comic" *ngFor="let elem of resultado?.data.results; index as i;">
    <a [routerLink]="['/personaje/', elem.id]">
        <img src="{{elem.thumbnail.path}}.{{elem.thumbnail.extension}}" alt="{{elem.name}}"
            class="img-fluid rounded img-comic mx-auto d-block">
    </a>
    <p [routerLink]="['/personaje/', elem.id]" class="title-comic btn text-white">{{elem.name}}</p>
</article><br />